<mat-toolbar>
  <div>{{selectedOptions?.length }} Termine ausgewählt</div>
    <span class="example-spacer"></span>
    <button mat-icon-button (click)="selectionList.selectedOptions.selected.length > 0 ? selectionList.deselectAll() : selectionList.selectAll()"><mat-icon>select_all</mat-icon></button>
    <button mat-icon-button (click)="export()"  matBadge="{{selectedOptions?.length || null}}"><mat-icon>share</mat-icon></button>
</mat-toolbar>
<div id="dates-container">
  <mat-selection-list [(ngModel)]="selectedOptions" (selectionChange)="this.selectionListChanged($event)" #selectionList>
    <mat-list-option *ngFor="let occurence of this.dates; let i = index" [value]="i">
      {{ occurence.getString() }}
    </mat-list-option>
  </mat-selection-list>
</div>

