.datefilter-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dates-container {
    margin-bottom: 400px !important;
}

.mat-selection-list {
    margin-bottom: 150px;
}