.event-card{
    margin: 4px 0px 0px 0px;
}

.action-buttons {
    text-align: right;
}

.sort-container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    align-content: flex-end;
    width: 100%;
}

.bold {
    font-weight: bold;
}

.dialog-container .mat-dialog-container{
    background-color: lightgray;
}