<div class="map-content">
  <div class="map"
      leaflet
      (leafletMapReady)="onMapReady($event)"
      [leafletOptions]="options"
      [ngStyle]="{'height.%': 100 - detailsHeight}">
  </div>

  <div class="bottombar" [hidden]="!selectedEvents" [ngStyle]="{'height.%': detailsHeight}">
    <!-- <mat-card class="event-card" *ngFor="let event of selectedEvents">
      <mat-card-header>
        <mat-card-title> {{ event.title }} </mat-card-title>
        <mat-card-subtitle>
          <a><mat-icon>star</mat-icon></a>
          <a><mat-icon>star</mat-icon></a>
          <a><mat-icon>star</mat-icon></a>
          <a><mat-icon>star</mat-icon></a>
          <a><mat-icon>star_border</mat-icon></a>
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-actions class="action-buttons">
        <button mat-button color="primary" (click)="openEventDetails(event)"><mat-icon>visibility</mat-icon> Details</button>
    </mat-card-actions>
    </mat-card> -->
    <mat-toolbar color="primary">
      <span>
          <h1>{{ selectedLocation ? selectedLocation.name: ""}}</h1>
          <div class="small_text">{{selectedEvents.length}} Veranstaltung(en)</div>
      </span>
    </mat-toolbar>
    <div class="bottombar_events">
      <button mat-raised-button class="event-card" *ngFor="let event of selectedEvents" (click)="utils.openEventDetails(event)">
        <div><span>{{ event.title }}</span></div>
        <app-starrating class="app-starrating-map" [rating]="event.rating"></app-starrating>
      </button>
    </div>
  </div>
</div>