<div class="organizer-container" *ngIf="organizer; else noOrganizer">
  <h1>{{organizer.name}}</h1>
  <p>Adresse: {{organizer.street}}, {{organizer.postcode}} {{organizer.city}}</p>
  <p>Telefonnummer: {{organizer.telephone}}</p>
  <p><a href="{{ organizer.link }}"  target="_blank">Website</a></p>
  <div class="map-content">
      <div class="map"
      leaflet
      (leafletMapReady)="onMapReady($event)"
      [leafletOptions]="options">
    </div>
  </div>
</div>

<ng-template #noOrganizer>
  Es gibt leider keine Daten zu diesem Veranstalter.
</ng-template>