.personal-comment-container {
    padding: 5px;
    border-width: 1px;
    display: block;
    border: 1px solid rgba(0,0,0,.03);
    box-shadow: inset 0 2px 2px rgba(0,0,0,.24),0 0 2px rgba(0,0,0,.12);
}

.comment-input {
    width: 100%;
}