.comment-container {
    margin-top: 10px;
}

.comment-date {
    font-size: small;
}

.comments-overview {
    text-align: center;
    margin-top: 10px;
}

.comments-overview .comments-overview-heading {
    margin-bottom: 10px;
    
}

.comments-personal-comment-container {
    margin: 5px 0 5px 0px;
}
