<div class="comments-overview">
  <div class="comments-overview-heading"><span>Gesamt: {{ sumRatings }} Bewertunge(n)</span></div>
  <div>
      <a><mat-icon>star</mat-icon></a>
      <a><mat-icon>star</mat-icon></a>
      <a><mat-icon>star</mat-icon></a>
      <a><mat-icon>star</mat-icon></a>
      <a><mat-icon>star</mat-icon></a>  
      <span>{{ percRating5 | percent:'2.0'}} ({{ sumRating5 }})</span>
  </div>
  <div>
    <a><mat-icon>star</mat-icon></a>
    <a><mat-icon>star</mat-icon></a>
    <a><mat-icon>star</mat-icon></a>
    <a><mat-icon>star</mat-icon></a>
    <a><mat-icon>star_border</mat-icon></a>
    <span>{{ percRating4 | percent:'2.0'}} ({{ sumRating4 }})</span>
  </div>
  <div>
    <a><mat-icon>star</mat-icon></a>
    <a><mat-icon>star</mat-icon></a>
    <a><mat-icon>star</mat-icon></a>
    <a><mat-icon>star_border</mat-icon></a>
    <a><mat-icon>star_border</mat-icon></a>
    <span>{{ percRating3 | percent:'2.0'}} ({{ sumRating3 }})</span>
  </div>
  <div>
    <a><mat-icon>star</mat-icon></a>
    <a><mat-icon>star</mat-icon></a>
    <a><mat-icon>star_border</mat-icon></a>
    <a><mat-icon>star_border</mat-icon></a>
    <a><mat-icon>star_border</mat-icon></a>
    <span>{{ percRating2 | percent:'2.0'}} ({{ sumRating2 }})</span>
  </div>
  <div>
    <a><mat-icon>star</mat-icon></a>
    <a><mat-icon>star_border</mat-icon></a>
    <a><mat-icon>star_border</mat-icon></a>
    <a><mat-icon>star_border</mat-icon></a>
    <a><mat-icon>star_border</mat-icon></a>
    <span>{{ percRating1 | percent:'2.0'}} ({{ sumRating1 }})</span>
  </div>
</div>
<mat-divider></mat-divider>
<div class="comments-personal-comment-container">
    <button mat-button color="primary" (click)="personalCommentFormBtnClicked()">
      Eigene Bewertung verfassen 
      <mat-icon *ngIf="showPersonalCommentForm == 0; else keyboard_arrow_up">keyboard_arrow_down</mat-icon>
      <ng-template #keyboard_arrow_up><mat-icon>keyboard_arrow_up</mat-icon></ng-template>
    </button>
    <app-eventpersonalcomment class="personal-comment-form" (newComment)="onNewComment($event)" [hidden]="!showPersonalCommentForm" color="primary"></app-eventpersonalcomment>
</div>
<mat-divider></mat-divider>
<div class="comments-container">
    <div class="comment-container" *ngFor="let comment of comments">
        <div>
            <div>{{comment.user_name}}</div> 
            <div class="comment-date">{{utils.getDateFormated(comment.published)}}</div>
            
        </div>
        <div>
            <a>
              <mat-icon *ngIf="comment.rating > 0; else no_star">star</mat-icon>
              <ng-template #no_star><mat-icon>star_border</mat-icon></ng-template>
            </a>
            <a>
              <mat-icon *ngIf="comment.rating > 1; else no_star">star</mat-icon>
              <ng-template #no_star><mat-icon>star_border</mat-icon></ng-template>
            </a>
            <a>
              <mat-icon *ngIf="comment.rating > 2; else no_star">star</mat-icon>
              <ng-template #no_star><mat-icon>star_border</mat-icon></ng-template>
            </a>
            <a>
              <mat-icon *ngIf="comment.rating > 3; else no_star">star</mat-icon>
              <ng-template #no_star><mat-icon>star_border</mat-icon></ng-template>
            </a>
            <a>
              <mat-icon *ngIf="comment.rating > 4; else no_star">star</mat-icon>
              <ng-template #no_star><mat-icon>star_border</mat-icon></ng-template>
            </a>
        </div>

        <p>{{comment.text}}</p>
        <mat-divider></mat-divider>
    </div>
  </div>
