.filter-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.calender-container {
    display: flex;
    flex-direction: row;
}
  
.calender-container > * {
    width: 100%;
}

.calender-container > .picker {
    margin-right: 10px;
    min-width: 100px;
    width: 150px;
}

.categorie-container {
    display: flex;
    flex-direction: row;
}
.categorie-container > * {
    width: 50%;
}

.categorie-container > .categorie {
    min-width: 210px;
    width: 320px;
}

.shortcuts-container button {
  margin-right: 8px;
  margin-bottom: 8px;
}

.shortcuts-container > .nextdays {
    margin-right: 8px;
    min-width: 80px;
    width: 80px;
}