<mat-accordion>
    <mat-expansion-panel [expanded]="expanded === 0" (opened)="setExpanded(0)">
        <mat-expansion-panel-header>
            <mat-panel-title>
                <mat-icon>filter_list</mat-icon>
            </mat-panel-title>
            <mat-panel-description>
                {{filtertext}}
            </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="filter-container">
            <div class="organizer-container">
                <mat-form-field class="organizer">
                    <input matInput type="text" placeholder="Veranstalter" [formControl]="organizerFormControl" [matAutocomplete]="auto">
                    <button mat-button *ngIf="organizerFormControl.value" matSuffix mat-icon-button aria-label="Clear" (click)="this.organizerFormControl.setValue('')">
                        <mat-icon>close</mat-icon>
                    </button>
                    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                        <mat-option *ngFor="let organizer of organizerOptions | async" [value]="organizer.name">
                            {{organizer.name}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
            </div>

            <div class="title-container">
                <mat-form-field class="title">
                    <input matInput type="text" placeholder="Veranstaltung" [formControl]="eventFormControl" [matAutocomplete]="autotitle">
                    <button mat-button *ngIf="eventFormControl.value" matSuffix mat-icon-button aria-label="Clear" (click)="this.eventFormControl.setValue('')">
                        <mat-icon>close</mat-icon>
                    </button>
                    <mat-autocomplete autoActiveFirstOption #autotitle="matAutocomplete">
                        <mat-option *ngFor="let event of eventOptions | async" [value]="event.title">
                            {{event.title}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
            </div>

            <div class="categorie-container">
                <!-- <mat-form-field class="categorie">
                    <mat-select #categoriesSelection class="categorie" placeholder="Kategorien" [formControl]="categoriesFormControl" multiple>
                        <mat-select-trigger>{{categoriesFormControl.value?.length > 0 ? categoriesFormControl.value[0].name : ''}}
                            <span *ngIf="categoriesFormControl.value?.length > 1" class="example-additional-selection">
                            (+{{categoriesFormControl.value.length - 1}} {{categoriesFormControl.value?.length === 2 ? 'other' : 'others'}})
                            </span>
                        </mat-select-trigger>
                        <mat-option *ngFor="let category of filteredCategories" [value]="category">{{category.name}}</mat-option>
                    </mat-select>
                    <button mat-button *ngIf="categoriesFormControl.value" matSuffix mat-icon-button aria-label="Clear" (click)="clearCategories(categoriesSelection)">
                        <mat-icon>close</mat-icon>
                    </button>
                </mat-form-field> -->

                <mat-form-field class="categorie">
                        <mat-select  #categoriesSelection class="categorie" placeholder="Kategorien" [formControl]="categoriesFormControl" multiple>
                            <mat-select-trigger>{{categoriesFormControl.value?.length > 0 ? categoriesFormControl.value[0].name : ''}}
                                <span *ngIf="categoriesFormControl.value?.length > 1" class="example-additional-selection">
                                (+{{categoriesFormControl.value.length - 1}} {{categoriesFormControl.value?.length === 2 ? 'other' : 'others'}})
                                </span>
                            </mat-select-trigger>
                            <mat-optgroup *ngFor="let category of filteredCategories" [label]="category.name">
                                <mat-option [value]="category">alle</mat-option>
                                <mat-option *ngFor="let subcategory of category.subCategories" [value]="subcategory">{{subcategory.name}}</mat-option>
                            </mat-optgroup>
                        </mat-select>
                        <button mat-button *ngIf="categoriesFormControl.value" matSuffix mat-icon-button aria-label="Clear" (click)="clearCategories(categoriesSelection)">
                            <mat-icon>close</mat-icon>
                        </button>
                      </mat-form-field>

            </div>

            <div class="calender-container">
                <mat-form-field class="picker">
                    <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="pickerVon" placeholder="Von" [formControl]="dateStart">
                    <mat-datepicker-toggle matSuffix [for]="pickerVon"></mat-datepicker-toggle>
                    <mat-datepicker #pickerVon touchUi disabled="false"></mat-datepicker>
                    <button mat-button *ngIf="dateStart.value" matSuffix mat-icon-button aria-label="Clear" (click)="this.dateStart.setValue(undefined)">
                        <mat-icon>close</mat-icon>
                    </button>
                </mat-form-field>

                <mat-form-field class="picker">
                    <input matInput  [min]="minDate" [max]="maxDate" [matDatepicker]="pickerBis" placeholder="Bis" [formControl]="dateEnd">
                    <mat-datepicker-toggle matSuffix [for]="pickerBis"></mat-datepicker-toggle>
                    <mat-datepicker #pickerBis touchUi disabled="false"></mat-datepicker>
                    <button mat-button *ngIf="dateEnd.value" matSuffix mat-icon-button aria-label="Clear" (click)="this.dateEnd.setValue(undefined)">
                        <mat-icon>close</mat-icon>
                    </button>
                </mat-form-field>
            </div>

            <div class="shortcuts-container">
                <button mat-button color="primary" (click)="onToday()">Heute</button>
                <button mat-button color="primary" (click)="onTomorrow()">Morgen</button>
                <mat-form-field class="nextdays">
                    <mat-select matNativeControl placeholder="In" [formControl]="nextDaysFormControl">
                        <mat-option>--</mat-option>
                        <mat-option *ngFor="let days of nextDays" [value]="days">{{days}} Tagen</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="filter-cmd-container">
                <button #filterButton mat-raised-button color="primary" (click)="onFilter()">Filter</button>
                <button #resetButton mat-raised-button color="primary" (click)="onReset()">Reset</button> 
            </div>
        </div>
    </mat-expansion-panel>
</mat-accordion>