<div fxFill style="overflow:hidden !important">
    <mat-toolbar color="primary" class="example-toolbar">
        <button mat-icon-button><mat-icon>more_vert</mat-icon></button>
        <span>Linz Finz</span>
        <span class="example-spacer"></span>
        <button mat-icon-button routerLink="/map"><mat-icon>map</mat-icon></button>
        <button mat-icon-button routerLink="/"><mat-icon>list</mat-icon></button>
        <button mat-icon-button><mat-icon><a href="https://nobodynhio.com:443/api/oauth/google">account_box</a></mat-icon></button>
    </mat-toolbar>
    <app-eventsfilter (filterChanged)="onFilterChanged($event)" 
        [events]="events" [organizers]="organizers" [categories]="categories">
    </app-eventsfilter>
    <div>
        <router-outlet></router-outlet>
    </div>
</div>

